
body{
    background-image: url('../img/wallpaper-kayu.jpg');
}

h1{
    color:	#8B4513;
    color: black;
}

label{
    font-weight: bolder;
    font-size: medium;
    color:black;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solidblack;
    box-sizing: border-box;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%; 
}
